<!DOCTYPE html>
<html lang="en">
<head>
    <script data-ad-client="ca-pub-5684130435209257" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <%-analytics%> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=name%> Level: <%=level%> </h1>
    <p>Rank: <%=tier%> <%=rank%> <%=lp%>LP </p>
    <p>Win: <%=win%> Lose: <%=lose%> <%=parseInt(win/(win + lose) * 100)%>%  </p>
    <h2>최근 게임</h2>
    <%=champion%>
        <%if(win === true) {%>
            승리
        <% } else { %>
            패배
        <% } %>  
</body>
</html>