<!DOCTYPE html>
<html lang="en">
<head>
    <%-analytics%> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><img src="<%=profileId%>" width="80px" height="80px"> <%=name%> Level: <%=level%> </h1>
    <h2>랭킹: <%=ranking%>등 상위 <%=percent%> </h2>
    <p>Rank: <img src="/static/image/ranked-emblems/Emblem_<%=tier%>.png" width="100px" height="100px"><%=tier%> <%=rank%> <%=lp%>LP </p>
    <p>Win: <%=win%> Lose: <%=lose%>
        <% if(tier !== "Unranked") { %>
            <%=parseInt(win/(win + lose) * 100)%>% </p>
        <% } else {%>
            </p> 
        <% } %> 
    <h2>최근 게임</h2>
    <img src="<%=champIcon%>"> <%=lane%> <%=champion%>
        <%if(gameWin === true) {%>
            승리
        <% } else { %>
            패배
        <% } %>
    <%=kill%> / <%=death%> / <%=assist%> 
    <% for(var i = 0; i < 7; i++) { %>
        <% if(items[i] == 'https://ddragon.leagueoflegends.com/cdn/10.23.1/img/item/0.png') { %>
            <% continue %> 
        <% } %>
        <img src="<%=items[i]%>">
    <% } %>  
</body>
</html>