<!DOCTYPE html>
<html lang="en">
<head>
    <%-analytics%> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><img src="<%=profileId%>" width="80px" height="80px"> <%=name%> Level: <%=level%> </h1>
    <h2>랭킹: <%=ranking%>등 상위 <%=percent%> </h2>
    <p>솔로 랭크: <img src="/static/image/ranked-emblems/Emblem_<%=soloTier%>.png" width="100px" height="100px"><%=soloTier%> <%=soloRank%> <%=soloLp%>LP </p>
    <p>Win: <%=soloWin%> Lose: <%=soloLose%>
        <% if(soloTier !== "Unranked") { %>
            <%=parseInt(soloWin/(soloWin + soloLose) * 100)%>% </p>
        <% } else {%>
            </p> 
        <% } %> 

    <p>자유 랭크: <img src="/static/image/ranked-emblems/Emblem_<%=flexTier%>.png" width="100px" height="100px"><%=flexTier%> <%=flexRank%> <%=flexLp%>LP </p>
    <p>Win: <%=flexWin%> Lose: <%=flexLose%>
        <% if(flexTier !== "Unranked") { %>
            <%=parseInt(flexWin/(flexWin + flexLose) * 100)%>% </p>
        <% } else {%>
            </p> 
        <% } %>    
    <hr>
    <h2>최근 게임</h2>
    <p><img src="<%=champIcon%>" width="80px" height="80px"> <%=lane%> <%=champion%> vs <%=enemyChampName%>  <img src="<%=enemyChampIcon%>" width="80px" height="80px"></p>
        <%if(gameWin === true) {%>
            승리
        <% } else { %>
            패배
        <% } %>
    <%=kill%> / <%=death%> / <%=assist%> 
    <% for(var i = 0; i < 7; i++) { %>
        <% if(items[i] == 'https://ddragon.leagueoflegends.com/cdn/10.24.1/img/item/0.png') { %>
            <% continue %> 
        <% } %>
        <img src="<%=items[i]%>">
    <% } %>  
</body>
</html>