<!DOCTYPE html>
<html lang="en">
<head>
    <%=analytics%> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=name%> Level: <%=level%> </h1>
    <p>Rank: <%=tier%> <%=rank%> <%=lp%>LP </p>
    <p>Win: <%=win%> Lose: <%=lose%> <%=parseInt(win/(win + lose) * 100)%>%  </p>
</body>
</html>